.search-form {
    // position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 0px;
    display: flex;
    background-color: #00008b;
    padding: 15px 0;
    justify-content: center;
    margin-bottom: 15px;
    // align-items: center;
    // margin: 0 auto;
    & .search {
        // height: 40px;
        border-radius: 4px 0 0 4px;
        outline: none;
        border: none;
        padding: 5px;
        // background-image: none;
        // background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    & button {
        border: 0;
        position: relative;
        border-radius: 0 4px 4px 0;
        // margin-left: -5px;
        width: 40px;
        height: 40px;
        // display
    }
    & button::before {
        content: "";
        position: absolute;
        // background-color: white;
        top: 35%;
        left: 35%;
        display: block;
        width: 13px;
        height: 13px;
        border: 2px solid;
        border-color: black;
        border-radius: 50%;
        transform: translate(-25%, -25%);
    }
    & button::after {
        content: "";
        position: absolute;
        // background-color: white;
        top: 65%;
        left: 50%;
        display: block;
        width: 10px;
        //height: 12px;
        border: 1px solid;
        border-color: black;
        border-radius: 50%;
        transform: rotate(45deg);
        //transform: translate(-25%, -25%);
    }
    & .radio-wrapper{
        display:grid;
        height: 20px;
    }
}
